<footer id="footer">
    <div class="container">
        <br>
        <p class="text-muted">
            <b>© <?=date('Y')?> Universitat Internacional de Catalunya</b> - <i>Campus Barcelona</i>. Tel.: 93 254 18 00 | <i>Campus Sant Cugat</i>. Tel.: 93 504 20 00 - <i><a href="http://www.uic.es" target="_blank">www.uic.es</a></i>
        </p>
    </div>
</footer>